html,
body {
  font-family: 'Bangers', sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  border-color: transparent;
}

body {
  background: url('https://images.unsplash.com/photo-1522876650878-e8f77ffb5e32?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=406c3c3eb89073ad947dfc3d4ed12a0c&auto=format&fit=crop&w=1050&q=80');
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  
  
  
  
}

h1 {
  font-weight: 900;
  font-size: 10vw;
  color: rgb(103, 10, 131);
  text-align: center;
  text-shadow: 0px 4px rgb(77, 239, 74), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 5px;
}

p,
strong {
  text-align: center;
  color: rgb(212, 233, 212);
  text-decoration: underline;
  box-sizing: border-box;
  font-size: 2vw;
  margin-top: -0.6em;
  margin-left: 15%;
  display: block;
  word-spacing:5px;
  text-shadow: 0px 2px rgb(152, 117, 233), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.1);

  


}

.wrapper {
  box-sizing: border-box;
  display: block;
 margin: 15vh auto;
  width: 70vw;
  border: 1px solid rgb(100, 7, 83);
  box-shadow: 2px 3px 5px rgb(77, 239, 74);
  min-width: 350px;
  height: auto;
  border-radius: 25px;
  background: rgb(252, 236, 252);
  background: -moz-linear-gradient(45deg, rgba(252, 236, 252, 0.6) 0%, rgba(251, 166, 225, 0.6) 74%, rgba(251, 166, 225, 0.6) 74%, rgba(253, 137, 215, 0.6) 92%, rgba(255, 124, 216, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgba(252, 236, 252, 0.6) 0%, rgba(251, 166, 225, 0.6) 74%, rgba(251, 166, 225, 0.6) 74%, rgba(253, 137, 215, 0.6) 92%, rgba(255, 124, 216, 0.6) 100%);
  background: linear-gradient(45deg, rgba(252, 236, 252, 0.6) 0%, rgba(251, 166, 225, 0.6) 74%, rgba(251, 166, 225, 0.6) 74%, rgba(253, 137, 215, 0.6) 92%, rgba(255, 124, 216, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
}

li.todo-item {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 14px 10px 14px;
}

li.todo-item:nth-last-of-type(2n+1) {
  color: rgb(235, 239, 243);
  background: rgba(78, 80, 83, 0.5);
}

li.todo-item button {
  margin-right: 0.25rem;
}

input[type='text'] {
  width: 50%;
  height: 25px;
  border: 2px solid rgb(69, 8, 94);
  border-radius: 45px;
  text-align: center;
  margin-left: 25%;
}

input {
  background-color: rgba(78, 80, 83, 0.3);
  color: rgb(69, 8, 94);
  font-size: 1.2em;
}

::placeholder {
  color: rgb(69, 8, 94);
  font-size: 1.0em;
}
input:hover {
  background-color: rgba(252, 236, 252, 0.5 );
}

.finished {
text-decoration: line-through;
color: #FF0000;
border-right: 1px solid rgb(110, 197, 10);
}

#todoList > li > button{
  float: right; 
}

.checked {
font-size: 6em;

}